@charset "utf-8";
/* CSS Document */

body{
	background-color: #FFFFFF;
}

.jumbotron{
	background-color: #FFFFFF;
}

.card-body{
	box-shadow: 5px 5px 5px #b9b9bd;
}

.section-text{
	text-align: justify;
}